#controls {
	padding: 5%;
	background-color: #177e89;
	color: #ffffff;
	margin: 5%;
}

#controls > p {
    margin: 0;
    margin-top: 0.5em;
}

#controls > * {
	padding: 0;
	margin: 0;
	width: 100%;
}

#container {
	padding-top: 60px;
	padding-bottom: 60px;
}

#tide-time-input {
    text-align: center;
}
